%tr.row_lesson
    %td.column_left #{period}
    - (@start_of_week..@end_of_week).each do |date|
        - next unless @display_wday.include?(date.wday)
        - lesson = @this_week_lessons.find_by(date: date, period: period)
        - if lesson
            - if lesson.grade_subject_unit
                - unit_name = lesson.grade_subject_unit.unit_name
                - got_unit_id = lesson.grade_subject_unit.id
            - else
                - unit_name = "&nbsp;".html_safe
                - got_unit_id
            %td
                .iframe_lesson_box
                    .got_lesson
                        %p.lesson_subject #{lesson.grade_subject_name(@grade_id)}
                        %p.lesson_unit #{unit_name}
        - else
            %td.share_grey