.container
    %iframe.opinion_gform{:frameborder => "0", :height => "600", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSeF0cNAquvGvR5stOonDZWLAlNAv7YfcAvxTeauq8rzOg25SQ/viewform?embedded=true"} 読み込んでいます…