.container
  %h2.create_class_header 新規クラス作成
  .class_setting
    %h3.class_setting_title 学年
    = select_tag 'grade', options_for_select(@grades), include_blank: true , class: "class_setting_grade", id: "class_setting_grade"
    .class_setting_name_box
      %h3.class_setting_title クラス名
      = text_field 'class_name', '', class: "class_setting_name", id: "class_setting_name"
    %p ※専科の時間割を作成する場合は学年から専科を選択してください。
  .class_subjects_box
    .class_subjects
  .class_setting_submit_btn_box.hidden
    %p.class_setting_submit_btn 登録
= javascript_pack_tag "create_class"