$header-grey: rgb(242,244,245);
$main-black: #333;
$main-red: #CD3439;
$main-grey: white;
$hover-grey: rgb(220,228,232);
$btn-grey: rgb(200,212,220);
$active-grey: rgb(200,220,230);
$main-font: 'BIZ UDPGothic'