/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

 @import 'devise';
 @import 'setting';
 @import 'table';
 @import 'schoolclass';
 @import 'pdf';
 @import 'iframe';
 @import 'home';
 @import "createclass";
 @import './variables';

 html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
    // background-color: $base-bg-color;
    font-size: 1em;
    // color: $text-base-color;
    font-family: 'BIZ UDPGothic';
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  .page_container{
    display: flex;
    height: 100vh;
    background-color: $main-grey;
  }
  
  .container {
    flex: 1;
    margin-left: 260px;
    overflow-y: auto;
    padding: 20px 20px;
 
    // .title{
    //   position: relative;
    //   width: 183px;
    //   height: 36px;
    //   top: 33px;
    //   margin-bottom: 80px;
 
    //   font-style: normal;
    //   font-weight: 800;
    //   font-size: 26px;
    //   line-height: 36px;
    //    /* identical to box height */
 
 
    //   color: #000000;
    // }
  }

  .hidden {
    display: none;
  }

  .header {
    position: fixed;
    height: 100vh;
    width: 260px;
    padding: 20px 20px;
    background-color: $header-grey;
    &_logos{
      text-align: center;
      font-size: 14px;
      color: $main-black;
    }
    &_flash{
      height: 40px;
    }

    &_bottom{
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0;
      text-align: center;
    }

    &_user_display{
      text-align: center;
      padding: 20px
    }
    &_user_class{
      display: flex;
      align-items: center;
      height: 40px;
      &:hover{
        background-color: #d6d8db;
      }
      &:hover .school_class_setting_btn_box{
        display: flex;
      }
    }
    &_new_class{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      &:hover{
        background-color: #d6d8db;
      }
      &:hover .school_class_setting_btn_box{
        display: flex;
      }

      &_link{
        width: 100%;
        padding: 10px 0;
        color: $main-black;
        text-decoration: none;
        text-align: center;
      }
    }
}

.cover{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(3,3,3,.5);
}

.header_link{
  display: block;
}

.opinion_gform{
  width: 100%;
}

.school_class{
  &_link{
    width: 90%;
    padding: 10px 0;
    color: $main-black;
    text-decoration: none;
  }
  &_setting_btn_box{
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $main-black;
    display: none;
  }
  &_edit_menu{
    position: absolute;
    right: -35px;
    padding: 5px;
    background-color: $main-grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
  }
  &_edit_btn{
    display: block;
    text-decoration: none;
    color: $main-black;
    padding: 5px;
    &:hover{
      background-color: $header-grey;
    }
  }

  &_setting_btn{
    padding: 3px;
    &:hover{
      cursor: pointer;
      background-color: $main-grey;
      border-radius: 5px;
    }
  }
}


  @media (max-width: 480px) {
    .page_container{
      display: block;
    }
    .header{
      display: none;
    }
    .resp_header{
      display: block;
      height: 60px;
      background-color: $header-grey;
      padding: 5px;
      &_overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: $header-grey;
        z-index: 100;
      }
    }
    .header_logos{
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
    }
    .container{
      //   padding: 40px 5px;
      display: block;
      margin-left: 0;
    }
    .menu-btn{
      cursor: pointer;
      display: inline-block;
      color: $main-black;
      font-size: 24px;
      vertical-align: middle;
    }
    .close-btn{
      cursor: pointer;
      display: inline-block;
      color: $main-black;
      font-size: 24px;
      padding: 5px;
      vertical-align: middle;
    }


  }

