/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

 @import 'devise';
 @import 'setting';
 @import 'table';
 @import 'schoolclass';
 @import 'pdf';
 @import 'iframe';
 @import 'home';
 @import "createclass";
 @import './variables';
 @import 'text_book';
 @import 'share';
 @import 'responsible';
 @import 'print';

 html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
    // background-color: $base-bg-color;
    font-size: 1em;
    // color: $text-base-color;
    font-family: 'BIZ UDPGothic';
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  .page_container{
    display: flex;
    height: 100vh;
    background-color: $main-grey;
  }

  .main_container {
    flex: 1;
    margin-left: 260px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position:relative;
  }

  .container{
    flex: 1;
    padding: 3px 10px;
  }

  .flash{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .header {
    position: fixed;
    height: 100vh;
    width: 260px;
    padding: 20px 20px;
    background-color: $header-grey;
    &_logos{
      text-align: center;
      font-size: 14px;
      color: $main-black;
    }
    &_flash{
      display: block;
      width: 100%;
      position: absolute;
      background-color: $main-black;
      color: white;
    }

    &_bottom{
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0;
      text-align: center;
    }

    &_user_display{
      text-align: center;
      padding: 20px 0;
    }
    &_user_classes{
      margin-top: 5px;
      margin-bottom: 15px;
      max-height: 210px;
      overflow-y: auto;
    }
    &_user_class{
      display: flex;
      align-items: center;
      position: relative;
      height: 40px;
      border-radius: 5px;
      &:hover{
        background-color: $hover-grey;
      }
      &:hover .school_class_setting_btn_box{
        display: flex;
      }
    }
    &_new_class{
      &_link{
        display: inline-block;
        padding: 0 5px;
        color: $main-black;
        &:hover{
          cursor: pointer;
          background-color: $btn-grey;
          border-radius: 5px;
        }
      }
    }

    &_category_name{
      display: inline-block;
      color: #5C431D;
    }

    &_name_edit{
      display: flex;
      width: fit-content;
    }

    &_submit_btn{
      margin-left: 5px;
    }
    &_edit_box{
      display: flex;
      justify-content: center;
    }
    &_edit_btn{
      cursor: pointer;
      font-size: 14px;
      padding: 5px;
      border-radius: 5px;
      &:hover{
        background-color: $btn-grey;
      }
    }
    &_display_name{
      display: inline-block;
    }

    &_close_btn{
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 6px;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
        background-color: $btn-grey;
      }
    }
  }

.cover{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(3,3,3,.5);
}

.header_link{
  display: block;
}

.opinion_gform{
  width: 100%;
}

.school_class{
  &_link{
    width: 90%;
    padding: 10px 5px;
    color: $main-black;
    text-decoration: none;
  }
  &_setting_btn_box{
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $main-black;
    display: none;
  }
  &_edit_menu{
    position: absolute;
    right: 0px;
    padding: 5px;
    background-color: $main-grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
  }

  &_follow_edit_menu{
    position: absolute;
    right: 0px;
    padding: 5px;
    background-color: $main-grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 100;
  }

  &_edit_btn{
    display: block;
    text-decoration: none;
    color: $main-black;
    padding: 5px;
    &:hover{
      background-color: $btn-grey;
    }
  }

  &_setting_btn{
    padding: 3px;
    margin-right: 5px;
    &:hover{
      cursor: pointer;
      background-color: $btn-grey;
      border-radius: 5px;
    }
  }
}


.active_class{
  background-color: $active-grey;
}

.print-off{
  display: none;
}

  @media (max-width: 480px) {
    .page_container{
      display: block;
    }
    .main_container{
      margin-left: 0px;
    }

    .header{
      display: none;
    }
    .resp_header{
      display: block;
      height: 60px;
      background-color: $header-grey;
      padding: 5px;
      &_overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: $header-grey;
        z-index: 100;
      }
    }
    .header_logos{
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
    }
    .container{
      //   padding: 40px 5px;
      display: block;
      margin-left: 0;
    }
    .menu-btn{
      cursor: pointer;
      display: inline-block;
      color: $main-black;
      font-size: 24px;
      vertical-align: middle;
    }
    .close-btn{
      cursor: pointer;
      display: inline-block;
      color: $main-black;
      font-size: 24px;
      padding: 5px;
      vertical-align: middle;
    }


  }


  .hidden {
    flex: 1;
    display: none;
  }

