@import './variables';
.devise-box{
    display: inline-box;
    text-align: center;

    &-subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        
        color: #AAAAAA;
        
    }

    &-title{
        margin-bottom: 10px;
    }

    .field{
        height: 55px;

        .email-box label, .password-box label, .username-box label{
            // position: absolute;
            // height: 25px;
            // margin-top: 33px;
            // margin-bottom:33px;

            font-size: 15px;
            line-height: 13px;
            
            color: #979797;
        }

        .email-box, .password-box, .username-box{
            position: relative;
            margin-top: 33px;
        }
        .email-box input[type="email"], .password-box input[type="password"], .username-box input[type="text"] {
            border: 1px solid black;
            position: relative;
            margin-top: 7px;
            width: 292px;
            height: 36px;

            background-color: #FAF9F9;
            border-radius: 10px;
            // border-bottom: 1px solid #9E9E9E;

        }


        }

    .actions input[type="submit"]{
        border: 0px;
        position: relative;
        width: 230px;
        height: 36px;
        margin-top: 40px;
        border-radius: 10px;

        background-color: $main-red;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        
        &:hover{
            background-color: white;
            color: $main-red;
            border: 1px solid $main-red;
        }
    }

    .devise-section-line{
        margin-top: 30px;
        width: 340px;
        text-align: center;
    }



}

.devise-option{
    &-box{
        position: relative;
        margin-top: 10px;
    }

    &-button{

    color: #aaaaaa;
    text-decoration: none;
    }

    &-sso-box{
        position: relative;
        margin-top: 20px;
    }
}