.iframe{
    &_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &_table_box{
        margin-left: 5px;
    }
    &_class_page_top{
        padding-left: 5px;
        height: 35px;
    }

    &_column_left{
        text-align: center;
    }

    &_lesson_box{
        height: calc((100vh - 76px)*0.65/6);
        width: calc((100vh - 50px)*0.65/6/3*4);
    }

    &_class_name{
        display: inline-block;

        &_display{
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        &_lesson_box{
            width: calc((100vw - 27px)/6);
            height: calc((100vw - 27px)/6/4*3*1.3);
        }
    }
}