.pdf{
    &_header{
        text-align: center;
    }

    &_table_box{
        text-align: center;
    }
    &_leav_time_row{
        height: 40px;
    }

    &_leaving_time_display{
        display: inline-block;
    }

    &_event_box{
        text-align: left;
        width: 118px;
        min-height: 80px;
    }

    &_event_cell{
        vertical-align: top;
    }

    &_item_box{
        text-align: left;
        width: 120px;
        min-height: 118px;

    }

}