.regist{
    &-box{
        display: inline-box;
        text-align: center;
    }

    &-subtitle{
        font-family: 'BIZ UDPGothic';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        
        color: #AAAAAA;
        
    }
}

