.lesson{
    &_subject{
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    &_box{
        background-color: rgb(238, 238, 238);
    }
}

.class{
    &_weekly{
        display: inline-block;
    }


}
.lesson_btn_box, .event_btn_box, .item_btn_box{
    text-align: right;
    height: 26px;
}

.event, .item{
    &_create_btn{
        display:inline-block;
        cursor: pointer;
        color: rgb(156, 202, 255);
        background-color: #fff;
        border-radius: 5px;
        font-size: 10px;
    }

    &_text{
        height: 100px;
        vertical-align: middle;

        border: 1px solid #cccccc;
        border-radius: 4px;
        resize: none;
    }

}
.delete_lesson_btn{
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    font-size: 10px;
    color: rgb(243, 134, 134);
}
.copy_lesson_btn{
    display:inline-block;
    cursor: pointer;
    color: rgb(156, 202, 255);
    background-color: #fff;
    border-radius: 5px;
    font-size: 10px;
}

.paste_lesson_btn{
    display: inline-block;
    background-color: #fff;
    color:rgb(156, 202, 255);
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
}
.new{
    &_lesson_box{
        display: inline-block;
        vertical-align: top;
    }

    &_unit{
        &_btn{
            display: inline-block;
            background-color: rgb(95, 163, 241);
            color: white;
            border-radius: 7px;
            margin-left: 10px;
        }

        &_text{
            height: 20px;
            width: 100px;
            vertical-align: middle;

            border: 1px solid #cccccc;
            border-radius: 4px;
            resize: none;
        }
    }
}