@import './variables';

.row{
    &_date{
        height: calc((100vh - 50px)*0.07);
    }
    &_event{
        height: calc((100vh - 50px)*0.07);
    }
    &_morning_act{
        height: calc((100vh - 50px)*0.03);
    }
    &_lesson{
        height: calc((100vh - 50px)*0.65/6);
    }
    &_item{
        height: calc((100vh - 50px)*0.15);
    }
    &_leaving{
        height: calc((100vh - 50px)*0.03);
    }
}
.column{
    &_date, &_event, &_morning_act, &_item, &_leaving, &_lesson{
        width: calc((100vh - 50px)*0.65/6/3*4);
        padding: 0;
    }
    &_left{
        text-align: center;
        width: 88px;
    }
}
.schedule{
    &_container{
        display: flex;
        flex-direction: column;
    }
    &_nav{
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }
}
.left_nav{
    font-size: 16px;
    height: fit-content;
}
.right_nav{
    font-size: 16px;
    height: fit-content;
    display: flex;
    justify-content: right;
    &_btn{
        color: $main-black;
        padding: 8px;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
            background-color: $header-grey;
        }
    }
}

.table_box{
    display: flex;
    justify-content: center;
    height: calc(100vh - 38px);
    overflow-y: auto;
}

.lesson{
    &_subject{
        border-bottom: 1px solid rgb(203, 203, 203);
        text-align: center;
        height: calc((100vh - 76px)*0.65/15);
        line-height: calc((100vh - 76px)*0.65/15);
        &:hover{
            cursor: text;
        }
    }
    &_unit{
        text-align: center;
        height: calc((100vh - 76px)*0.65/10);
        &:hover{
            cursor: text;
        }
    }

    &_box{
        background-color: white;
        height: calc((100vh - 76px)*0.65/6);
        width: calc((100vh - 76px)*0.65/6/3*4);
        position: relative;
        z-index: 1;
        cursor: grab;

        &:hover{
            border: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
    }
    &_box_for_share{
        background-color: white;
        height: 98px;
        width: 118px;
        position: relative;
        z-index: 1;
    }
    &_ellipsis{
        padding: 5px;
        border-radius: 10px;
        font-size: 13px;
        color: $main-black;
        cursor: pointer;
        &:hover{
            background-color: $btn-grey;
        }
        &_box{
            display: inline-block;
            position: absolute;
            right: 0;
        }
    }
    &_btn{
        &_js_box{
            position: absolute;
            right: 0;
            background-color: $header-grey;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }
        &_box{
            height: fit-content;
        }
    }
}


.edit_lesson_box{
    width: 100%;
    height: calc((100vh - 76px)*0.65/15);
    border-bottom: 1px solid rgb(203, 203, 203);
    text-align: center;
    & select {
        text-align: center;
        & option {
            text-align: center;
        }
    }
}
.select_subject{
    width: 100%;
    height: 25px;
}

.unit_select_box{
    & select {
        text-align: center;
        & option {
            text-align: center;
        }
    }
}
.select_unit{
    height: 25px;
    width:  79%;
}

.class{
    &_page_top{
        padding-left: 10px;
    }

}

.item{
    &_create_btn{
        display: none;
    }

    &_box:hover .item_create_btn{
        display: inline-block;
    }

    &_btn_box{
        text-align: center;
    }

    &_text{
        width:  100%;
        height: 100%;
        border: 1px solid $active-grey;
        resize: none;
        &_box{
            height: 100%;
            width: 100%;
        }
    }
    &_display{
        height: 100%;
        width: 100%;
        word-wrap: break-word;
    }

    &_box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc((100vh - 50px)*0.15 - 2px);
    }
}

.delete{
    &_lesson_btn{
        display: inline-block;
        cursor: pointer;

        color: $main-red;

        padding: 5px;
        border-radius: 10px;
        font-size: 13px;

        &:hover{
            background-color: $btn-grey;
        }
    }
}



.copy_lesson_btn, .paste_lesson_btn{
    display:inline-block;
    cursor: pointer;

    // background-color: #fff;
    color: $main-black;

    padding: 5px;
    border-radius: 10px;
    font-size: 13px;

    &:hover{
        background-color: $btn-grey;
    }
}

.new_lesson_btn, .item_create_btn, .event_create_btn, .morning_act_create_btn{
    color: rgb(30, 48, 80);
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 15px;

    &:hover{
        cursor: pointer;
        background-color: #eeeeee;
    }
}


.new{
    &_lesson_box{
        display: inline-block;
        vertical-align: top;
    }
    &_lesson_menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        text-align: center;
    }

    &_unit{
        &_btn{
            display: inline-block;
            background-color: rgb(95, 163, 241);
            color: white;
            border-radius: 7px;
            margin-left: 10px;
        }

        &_text{
            height: 100%;
            width: 80%;
            // vertical-align: middle;
            border: 1px solid #cccccc;
            border-radius: 4px;
            resize: none;
        }
    }
}
.unit_create_btn{
    color: rgb(30, 48, 80);
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 12px;
    float: right;
    &:hover{
        cursor: pointer;
        background-color: #eeeeee;
    }
}

.cancel_btn{
    color: rgb(30, 48, 80);
    padding: 0px 4px;
    border-radius: 10px;
    font-size: 14px;
    float: right;
    &:hover{
        cursor: pointer;
        background-color: #eeeeee;
    }
}

.leaving_time{
    &_box{
        position: relative;
        text-align: center;
        height: calc((100vh - 50px)*0.03 + 2px);
        &:hover .leaving_time_create_btn{
            display: inline-block;
        }
        &:hover .delete_leaving_time_btn{
            display: block;
        }
    }

    &_create_btn{
        color: rgb(30, 48, 80);
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 15px;
        display: none;
        &:hover{
            cursor: pointer;
            background-color: #eeeeee;
        }
        &_box{
            padding-top: 1px;
            display: flex;
            align-items: center; /* 上下中央に配置 */
            justify-content: center; /* 左右中央に配置 */
            height: 100%; /* 親要素の高さいっぱいに広げる */
            width: 100%;
        }
    }
    &_delete_btn_box{
        position: absolute;
        right: 0px;
    }

    &_display{
        display: inline-block;
        vertical-align: middle;
        // line-height: 1.5px;
        height: 100%;
        width: 100%;
    }
    &_select_box{
        display: flex;
        height: 100%;
        width: 100%;
    }
    &_form{
        position: relative;
        width: 100%;
        text-align: center;
    
        &::-webkit-calendar-picker-indicator {
            color: rgb(30, 48, 80);
            border-radius: 10px;
        }
    
        &::-webkit-calendar-picker-indicator:hover {
            background-color: #eeeeee;
        }
      }
}


.delete_leaving_time_btn{
    display: none;
    cursor: pointer;

    color: rgb(243, 134, 134);

    padding: 5px;
    border-radius: 10px;
    font-size: 13px;

    &:hover{
        background-color: #eeeeee;
    }
}




.event{
    &_box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc((100vh - 50px)*0.07 - 3px);
        width: calc((100vh - 50px)*0.65/6/3*4);
    }

    &_btn_box{
        text-align: center;
        height: 26px;
    }


    &_text{
        height: 100%;
        width: 100%;
        border: 1px solid $active-grey;
        resize: none;
        &_box{
            display: flex;
            height: 100%;
        }
    }

    &_btn_box{
        display: block;
    }

    &_create_btn{
        display: none;
    }

    &_box:hover .event_create_btn{
        display: inline-block;
    }
    &_display{
        width: 100%;
        word-wrap: break-word;
        text-align: center;
        padding: 2px;
    }
}

.morning_act{
    &_box{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: calc((100vh - 50px)*0.03 + 5px);
        width: 100%;
    }

    &_btn_box{
        display: block;
        text-align: center;
        height: 27px;
    }

    &_text{
        height: 100%;
        width: 100%;
        border: 2px solid $active-grey;
        resize: none;
        &_box{
            height: 100%;
        }
    }

    &_create_btn{
        display: none;
    }
    
    &_box:hover .morning_act_create_btn{
        display: inline-block;
    }
    &_display{
        text-align: center;
        word-wrap: break-word;
    }
}


.copy_lesson_btn_explain{
    display: none;
}

.copy_lesson_btn:hover + .copy_lesson_btn_explain{
    display: block;
}

.template_nav, .link_nav, .others_nav, .lesson_period_box, .wday_select_box{
    display: inline-block;
    position: absolute;
    margin-top: 32px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.wday_select_box{
    padding: 10px;
}
.add_from_temp, .temp_setting, .temp_return_link, .link_opt, .image_btn, .units_link, .other_setting{
    display: block;
    color: $main-black;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        background-color: $header-grey;
    }
}


.week{
    &_nav{
        display: inline-flex;
        justify-content: space-between;
        min-width: 60px;
    }

    &_btn{
        color: $main-black;
        padding: 8px;
        border-radius: 20px;
        &:hover{
            background-color: $header-grey;
        }
    }
}

#status_display{
    color: #cccccc;
    line-height: 32px;
}

.period_submit, .wday_submit{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    &_btn{
        background-color: $main-red;
        color: white;
        border: none;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
        }
    }
}

