@import './variables';

.top_container{
    flex: 1;
    background-color: rgb(252, 250, 250);
    padding: 10px 10px;
    border-bottom: 1px solid;
    display: flex;
}

.top_info_box{
    width: 75%;
}
.top_btn_box{
    width: 25%;
    display: flex;
}
.top_sign_in_btn{
    font-size: 12px;
}
.top_sign_in_btn, .top_sign_up_btn{
    width: 40%;
}

@media (max-width: 480px) {
    .top_container{
        flex-direction: column;
    }
    .top_info_box{
        width: 100%;
    }
    .top_btn_box{
        width: 100%;
        justify-content: center;
    }
}