@import './variables';

.top_container{
    flex: 1;
    background-color: rgb(252, 250, 250);
    padding: 10px 10px;
    border-bottom: 1px solid;
    display: flex;
}

.top_info_box{
    width: 75%;
}
.top_btn_box{
    width: 25%;
    display: flex;
}
.top_sign_in_btn{
    font-size: 12px;
}