.about_text_book{
    text-align: center;
    padding-bottom: 20px;

    &_explain{
        padding-bottom: 20px;
    }
}

.text_book_link{
    display: inline-block;
}

.text_subject{
    display: inline-block;
}
.text_book{
    padding-bottom: 10px;

    &_header{
        padding-bottom: 20px;
    }
}